﻿@using StudentMarks.Models
@model IEnumerable<StudentMarks.Models.StudentWithMark>

@{
    ViewBag.Title = "Журнал отметок";
    //Идентификатор предметов обучения, передаваемый из метода действия контроллера
    var SubjectId = (Guid)ViewBag.SubjectId;
    IEnumerable<Subject> Subjects = (IEnumerable<Subject>) ViewBag.Subjects;
}

<h2> @ViewBag.Title</h2>

<p>
    @using (Html.BeginForm())
    {
        @Html.DropDownList("subjectId", Subjects.Select(x => new SelectListItem {Text = x.Name, Value = x.Id.ToString()}));

        <input type="submit" value="Выбрать" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mark)
        </td>
        <td>
            @Html.ActionLink("5", "SetMark", new { studentId = item.Id, subjectId = SubjectId, mark = Marks.Пятерка }) |
            @Html.ActionLink("4", "SetMark", new { studentId = item.Id, subjectId = SubjectId, mark = Marks.Четверка }) |
            @Html.ActionLink("3", "SetMark", new { studentId = item.Id, subjectId = SubjectId, mark = Marks.Тройка }) |
            @Html.ActionLink("2", "SetMark", new { studentId = item.Id, subjectId = SubjectId, mark = Marks.Двойка}) |

        </td>
    </tr>
}

</table>
